.banner {
  position: relative;
}

.imgContainer {
  height: 22.3rem;
  overflow: hidden;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  mix-blend-mode: darken;
  background-color: $color-tertiary;

  img {
    object-fit: cover;
    width: 100%;
    opacity: 0.7;
  }
}

.headingContainer {
  height: 22.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  h1 {
    font-size: 4 8rem;
    font-weight: 500;
    margin: 0;
    color: $color-secondary;
  }
}
