.carousel {
  overflow: hidden;
  height: 25.5rem;
  border-radius: 1rem;
  position: relative;
  @include desktop-s {
    height: 40rem;
  }
  @include desktop {
    height: 21rem;
  }
  @include desktop-l {
    height: 29rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .arrow-container {
    @include flexbox-center;
    height: 3.6rem;
    width: 3.6rem;
    position: absolute;
    top: 11rem;
    border-radius: 50%;
    @include mobile {
      &:active {
        background-color: $color-tertiary;
        opacity: 0.5;
      }
    }
    @include desktop-s {
      height: 80px;
      width: 80px;
      top: 40%;
      &:hover {
        background-color: $color-tertiary;
        opacity: 0.5;
      }
    }
    &__right {
      right: 0;
    }
    &__left {
      transform: rotate(180deg);
    }
  }
  .arrow {
    height: 2.4rem;
    width: 2.4rem;
    fill: white;
    @include desktop-s {
      height: 80px;
      width: 80px;
    }
  }
}
