// COLORS
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: white;
$color-primary-lighter: lighten($color-primary, 20);
$color-secondary-lighter: lighten($color-secondary, 20);
$color-secondary-dark: darken($color-secondary,10);
$color-gradient: linear-gradient($color-secondary-dark, $color-primary);
$color-tertiary-dark: darken($color-tertiary, 30);
$color-tertiary-darker: darken($color-tertiary, 50);
$color-tertiary-light: lighten($color-tertiary, 10);
$color-tertiary-lighter: lighten($color-tertiary, 20);


// BREAKPOINTS
$breakpoints: (
    mobile-s: 320px,
    tablet-s: 426px,
    mobile: 767px,
    tablet: 768px,
    desktop-s: 1024px,
    desktop: 1400px,
    desktop-l: 1680px,
    desktop-hd: 1920px,
    desktop-xl: 2560px,
    desktop-uhd: 3840px
);

// CHECKBOX-ANIM WIDTH
$chk-wid: 8rem;

// ANIMATION
$anim-dur: 10ms;
$anim-delay: 100ms;