.about {
  @include margin-page;
  @include desktop-s {
    @include margin-page($mrgn-dsktp-s, $mrgn-dsktp-s);
  }
  @include desktop-s {
    @include margin-page(0, $mrgn-dsktp);
  }
  @include desktop {
    @include margin-page($mrgn-dsktp-s, $mrgn-dsktp-l);
  }
  .content {
    min-height: 14.3rem;
  }
  .imgContainer {
    height: 22.3rem;
    @include desktop-s {
      height: $banner-hght;
    }
  }
}
