.error {
  @include margin-page(20rem, $mrgn-mbl, 20rem);
  text-align: center;
  color: $color-primary;
  h1 {
    font-size: 9.6rem;
    font-weight: 700;
  }
  p {
    font-size: 1.8rem;
    font-weight: 500;
  }
  a {
    color: $color-primary;
    text-decoration: underline;
    font-size: 1.4rem;
  }
}
