.error {
  margin: 2rem 2rem 0;
  text-align: center;
  color: $color-primary;
  h1 {
    font-size: 28.8rem;
    font-weight: 700;
    line-height: 5.1rem;
  }
  p {
    font-size: 3.6rem;
    font-weight: 500;
  }
  a {
    color: $color-primary;
    text-decoration: underline;
    font-size: 1.8rem;
  }
}
