// FADE-IN INDEX
// .index-fade-in{
//     animation: fade-in 250ms 2750ms cubic-bezier(1,0,.9,.3) backwards;
// }

// ANCHOR RESTAURANTS
#anchor-restaurants{
    display: block;
    height: 8.5rem;
    margin-top: -8.5rem;
    visibility: hidden;
}

// SECTION SITE DESCRIPTION
.site-description{
    &__background{
        text-align: center;
        @include background($color-tertiary-lighter);
        @include standard-flexbox(column);
        & h1 + p{
            font-size: 1.5rem;
            @include mobile-s{
                font-size: 1.4rem
            }
            @include desktop-l{
                font-size: 2rem
            }
        }
    }
}

// SECTION OPERATION
.operation{
    @include background;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h3{
        margin-top: 0;
        font-size: 2.6rem;
        @include tablet{
            font-size: 3.2rem;
        }
    }
    @include desktop{
        padding: 5rem 10%;
    }
    @include desktop-l{
        align-items: unset;
        padding: 5rem 5%;
    }   
    &__container{
        width: 100%;
        @include tablet{
            width: 691px;
        }
        @include desktop{
            width: 900px;
        }
        & h3{
            @include tablet{
                margin-bottom: 2rem;
            }
        }
        @include desktop-l{
            width: unset;
        }
    }
}

// OPERATION BUTTONS
.button-container{
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    padding-left: 1rem;
    @include mobile-s{
        height: 25rem;
    }
    @include tablet{
        height: 35rem;
    }
    @include desktop-l{
        flex-direction: row;
        height: unset;
    }
    &__button{
        @include standard-border;
        @include standard-box-shadow;
        display: flex;
        align-items: center;
        background: $color-tertiary-lighter;
        position: relative;
        height: 7.5rem;
        font-size: 1.3rem;
        @include mobile-s{
            height: 7rem;
        }
        @include tablet{
            height: 10rem;
        }
        @include desktop-l{
            width: 31%;
            height: 8rem;
            }
        &:last-child{
            background: $color-secondary-lighter;
            & i{
                color: $color-primary;
            }
        }
        @include mobile-s{
        font-size: 1.2rem;
        }
        & i{
            color: $color-tertiary-darker;
            padding: 0 2.5rem;
            font-size: 2rem;
            @include mobile-s{
                padding: 0 2rem;
            }
            @include mobile-l{
                font-size: 2rem;
            }
            @include tablet{
                font-size: 3rem;
            }
            @include desktop-l{
                font-size: 1.5rem;
            }
        }
        & h2{
            font-size: 1.6rem;
            @include mobile-s{
                font-size: 1.5rem;
            }
            @include tablet{
                font-size: 3rem;
            }
            @include desktop{
                font-size: 3rem;
            }
            @include desktop-l{
                font-size: 1.5rem
            }
            @include desktop-hd{
                font-size: 1.7rem;
            }
        }
        &__number{
            padding: .6rem 1rem;
            border-radius: 2.5rem;
            position: absolute;
            left: -1.5rem;
            background: $color-primary;
            color: $color-white;
        }
    }
}

// SECTION RESTAURANTS
.restaurants{
    @include background($color-tertiary-lighter);
    @include mobile-s{
        padding-bottom: 2rem;
    }
    @include desktop{
        padding: 5rem 10%;
    }
    @include desktop-l{
        padding: 5rem 5%;
    }
    @include desktop-hd{
        padding: 5rem 5%;
    }
    & h3{
        margin-top: 0;
        font-size: 2.6rem;
        @include tablet{
            font-size: 3.2rem;
        }
    }
}

// CARDS CONTAINER
.cards-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3rem;
    @include tablet{
        flex-flow: row wrap;
    }
}