body{
    position: relative;
}

main{
    @include main-top-padding;   
}

// .index-fade-in{
//     animation: fade-in 250ms 2750ms cubic-bezier(1,0,.9,.3) backwards;
// }

// ANCHOR RESTAURANTS
#anchor-restaurants{
    display: block;
    height: 8.5rem;
    margin-top: -8.5rem;
    visibility: hidden;
}

// SECTION SITE DESCRIPTION
.background-style{
    @include background($color-tertiary-lighter);
}

.site-description{
    &__background{
        text-align: center;
        @include background($color-tertiary-lighter);
        @include standard-flexbox(column);
        & h1 + p{
            font-size: 1.9rem;
            @include mobile-s{
                font-size: 1.6rem
            }
        }
    }
}

// SECTION OPERATION
.operation{
    @include background;
    display: flex;
    flex-direction: column;
    @include tablet-s{
        align-items: center;
    }
    @include desktop{
        padding: 5rem 10%;
    }
    @include desktop-l{
        align-items: unset;
        padding: 5rem 5%;
    }   
    &__container{
        @include tablet{
            width: 691px;
        }
        & h1{
            @include tablet{
                margin-bottom: 2rem;
            }
        }
        @include tablet-s{
            width: 372.5px;
        }
        @include desktop-l{
            width: unset;
        }
    }
    &__button-container{
        height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3rem;
        padding-left: 1rem;
        @include mobile{
            max-width: 372.5px;
        }
        @include desktop-l{
            flex-direction: row;
            height: unset;
        }
        &__button{
            position: relative;
            height: 7.5rem;
            font-size: 1.3rem;
            &:last-child{
                background: $color-secondary-lighter;
                & i{
                    color: $color-primary;
                }
            }
            @include mobile-s{
            font-size: 1.2rem;
            }
            & i{
                color: $color-tertiary-darker;
                padding: 0 3rem;
                font-size: 2rem;
                @include mobile-s{
                    padding: 0 2rem
                }
                @include tablet{
                    font-size: 3rem;
                }
                @include desktop-l{
                    font-size: 1.5rem;
                }
            }
            & h2{
                font-size: 1.5rem;
                @include tablet{
                    font-size: 3rem;
                }
                @include desktop-l{
                    font-size: 1.5rem
                }
                @include desktop-hd{
                    font-size: 1.7rem;
                }
            }
        }
    }
}

// SECTION RESTAURANTS
.restaurants{
    @include background($color-tertiary-lighter);
    @include mobile-s{
        padding-bottom: 2rem;
    }
    @include desktop{
        padding: 5rem 10%;
    }
    @include desktop-l{
        padding: 5rem 5%;
    }
    @include desktop-hd{
        padding: 5rem 5%;
    }
}

.cards-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3rem;
    @include tablet{
        flex-flow: row wrap;
    }
}