main{
    background-color: $color-tertiary;
}
.menu{
    position: relative;
    top: -50px;
    padding-bottom: 0;
    border-radius: 50px 50px 0 0;
    &__image{
        & img{
            width: 100%;
            object-fit: cover;
        }
    }
    &__heading{
        font-family: shrikhand, roboto, sans-serif;
        display: flex;
        justify-content: space-between;
    }
}

.menu-form{
    &__dish-type{
        border-style: none;
        padding: 20px 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        &__title{
            font-size: 20px;
            text-transform: uppercase;
        }
    }
    &__title-border{
        height: 5px;
        width: 60px;
        margin: 5px 0 20px;
        background-color: darken($color-tertiary, 25);
    }
}

.dish{
    margin-bottom: 20px;
    overflow: hidden;
    animation: fade-in 2s backwards;
    @for $i from 2 through 4 {
        &--#{$i}{
            animation-delay: $anim-delay * $i;
        }
    }
    &__label{
        height: 80px;
        display: flex;
        width: 100%;
        font-size: 23px;
        position: relative;
        & p, h3{
            margin: 0;
        }
        & input:checked{
            & ~ .checkbox__container{
                transform: translateX(-100%);
                & .checkbox__check{
                    transform: rotate(675deg);
                }
            }
            & + .dish__textbox{
                & > .dish__description{
                width: 50%;
                }
                & > .dish__price{
                transform: translateX(-100%);
                }
            }
        }
    }
    &__textbox{
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
        width: 100%;
        & p, h3{
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__description{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        transition: width 200ms 20ms;
    }
    &__price{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 600;
        height: 100%;
        padding-right: 20px;
        // transform: translateX(0);
        transition: transform 200ms 30ms;
        width: 80px;
    }
}

.checkbox{
    position: absolute;
    left: 33%;
    top: 33%;
    background-color: $color-white;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    &__container{
        background-color: $color-tertiary;
        width: $chk-wid;
        height: 100%;
        position: absolute;
        right: -$chk-wid;
        // transform: translateX(0);
        transition: transform 300ms;
    }
    &__check{
        position: absolute;
        top: 30%;
        left: 25%;
        width: 50%;
        height: 30%;
        border-bottom: $color-tertiary solid 4px;
        border-left:  $color-tertiary solid 4px;;
        transform: rotate(-45deg);
        transition: transform 300ms;
    }
}

.submit-button{
    justify-content: center;
    height: 50px;
    width:45%;
}

