.menu{
    @include background($color-tertiary-lighter);
    position: relative;
    top: -5rem;
    padding-bottom: 0;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    @include tablet{
        top: unset;
        border-radius: unset;
        padding: 2.5rem 5% 5rem;
    }
    @include desktop-l{
        padding: 2.5rem 5% 5rem;
    }
    &__heading{
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: column-reverse;
            align-items: center;
        }
        & > .menu__title-container{
            width: 100%;
            @include desktop-l{
                width: unset;
            }
        }
    }
    &__image{
        @include tablet{
            width: 0;
            height: 0;
            visibility: hidden;
        }
        & img{
            width: 100%;
            object-fit: cover;
        }
        &--smaller{
            width: 0;
            height: 0;
            visibility: hidden;
            @include tablet{
                visibility: visible;
                width: 100%;
                height: 20rem;
                border-radius: 50px;
                overflow: hidden;
                border: $color-white solid 5px;
                margin-bottom: 1.5rem;
            }
            @include desktop-l{
                width: 60%;
            }
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__title{
        font-family: shrikhand, roboto, sans-serif;
        font-size: 2.4rem;
        display: flex;
        justify-content: space-between;
        @include mobile-s{
            font-size: 2.2rem;
        }
        @include tablet{
            justify-content: unset;
        }
        @include desktop-hd{
            font-size: 3rem;
        }
        &-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include tablet{
                justify-content: normal;
            }
        }
    }
    &__body{
        @include desktop-s{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.dish-type{
    border-style: none;
    padding: 2rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    @include desktop-s{
        width: 47.5%;
    }
    @include desktop-l{
        width: 30%;
    }
    &:last-child{
        @include desktop-s{
            padding-top: 0;
        }
        @include desktop-l{
            padding-top: 2rem;
        }
    }
    &__title{
        font-size: 1.5rem;
        text-transform: uppercase;
        @include desktop-l{
            display: flex;
            flex-direction: column;
            align-items: center;                         
        }
        &__border{
            height: 5px;
            width: 4.8rem;
            margin: .5rem 0 2rem;
            background-color: $color-tertiary;
        }
    }       
}

.dish{
    border-radius: 1.5rem;
    @include standard-box-shadow;
    display: flex;
    align-items: center;
    background: $color-white;
    margin-bottom: 2rem;
    overflow: hidden;
    animation: fade-in 2s backwards;
    @for $i from 2 through 4 {
        &--#{$i}{
            animation-delay: $anim-delay * $i;
        }
    }
    &__label{
        display: flex;
        width: 100%;
        font-size: 2.3rem;
        position: relative;
        & p, h3{
            margin: 0;
        }
        &:hover{
            & .dish__checkbox-container{
                transform: translateX(-100%);
                & .dish__check{
                animation: rotate-check 200ms 120ms both;
                }
            }
            & .dish__textbox{
                & > .dish__description{
                    width: calc(100% - $chk-wid*2);
                    @include mobile-s{
                        width: calc(100% - $chk-wid-mob-s*2);
                    }
                }
                & > .dish__price{
                    transform: translateX(-100%);
                }
            }
        }
    }
    &__textbox{
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1rem 0 1rem 1rem;
        width: 100%;
        height: 100%;
        @include mobile-s{
            font-size: 1rem;
        }
        @include mobile-l{
            font-size: 1.3rem;
        }
        @include tablet{
            font-size: 1.5rem;
        }
        @include desktop-s{
            font-size: 1.3rem;
        }
        @include desktop-l{
            font-size: 1.1rem;
        }
        @include desktop-hd{
            font-size: 1.3rem;
        }
        @include desktop-uhd{
            font-size: 1.4rem;
        }
        & h3,p{
            margin: .3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - $chk-wid);
        transition: width 200ms 20ms;
        height: 100%;
        @include mobile-s{
            width: calc(100% - $chk-wid-mob-s);
        }
    }
    &__price{
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        font-weight: 600;
        transition: transform 200ms 30ms;
        width: $chk-wid;
        @include mobile-s{  
            width:$chk-wid-mob-s
        }
    }
    &__checkbox{
        position: absolute;
        left: 33.3%;
        top: 33.3%;
        background-color: $color-white;
        width: calc($chk-wid*0.33);
        height: calc($chk-wid*0.33);
        border-radius: 50%;
        @include mobile-s{
            width: calc($chk-wid-mob-s*0.33);
            height: calc($chk-wid-mob-s*0.33);
        }
        &-container{
            background-color: $color-tertiary;
            width: $chk-wid;
            height: 100%;
            position: absolute;
            right: -$chk-wid;
            transition: transform 300ms;
            @include mobile-s{
                right: -$chk-wid-mob-s;
                width: $chk-wid-mob-s;
            }
        }
    }
    &__check{
        position: absolute;
        top: 33%;
        left: 25%;
        width: 50%;
        height: 30%;
        border-bottom: $color-tertiary solid .3rem;
        border-left:  $color-tertiary solid .3rem;
        transform: rotate(-45deg);
    }
}