main{
    background-color: $color-tertiary-lighter;
}
.menu{
    position: relative;
    top: -5rem;
    @include tablet{
        top: unset;
        border-radius: unset;
        padding: 2.5rem 5% 5rem;
    }
    @include desktop-s{
        padding: 2.5rem 10% 5rem;
    }
    @include desktop-l{
        padding: 2.5rem 5% 5rem;
    }
    padding-bottom: 0;
    border-radius: 5rem 5rem 0 0;
    &__heading{
        display: flex;
        flex-direction: column;
        & > .menu__title-container{
            width: 100%;
        }
    }
    &__image{
        @include tablet{
            width: 0;
            height: 0;
            visibility: hidden;
        }
        & img{
            width: 100%;
            object-fit: cover;
        }
        &--smaller{
            width: 0;
            height: 0;
            visibility: hidden;
            @include tablet{
                visibility: visible;
                width: 100%;
                height: 20rem;
                border-radius: 50px;
                overflow: hidden;
                border: $color-white solid 5px;
            }
            @include desktop-s{
                height: 30rem;
            }
            & img{
                width: 100%;
                height: 20rem;
                object-fit: cover;
                @include desktop-s{
                    height: 30rem;
                }
            }
        }
    }
    &__title{
        font-family: shrikhand, roboto, sans-serif;
        display: flex;
        justify-content: space-between;
        @include tablet{
            justify-content: unset;
        }
        &-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include desktop-s{
                justify-content: normal;
            }
        }
    }
}

.menu-form{
    &__dish-type{
        border-style: none;
        padding: 2rem 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        @include desktop-s{
            width: 47.5%;
        }
        @include desktop-l{
            width: 30%;
        }
        &:last-child{
            @include desktop-s{
                padding-top: 0;
            }
            @include desktop-l{
                padding-top: 2rem;
            }
        }
        &__title{
            font-size: 2rem;
            text-transform: uppercase;
            @include desktop-l{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &__title-border{
        height: 5px;
        width: 6rem;
        margin: .5rem 0 2rem;
        background-color: $color-tertiary;
    }
}

.dish{
    margin-bottom: 2rem;
    overflow: hidden;
    animation: fade-in 2s backwards;
    @for $i from 2 through 4 {
        &--#{$i}{
            animation-delay: $anim-delay * $i;
        }
    }
    &__type{
        @include desktop-s{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__label{
        height: 9rem;
        display: flex;
        width: 100%;
        font-size: 2.3rem;
        position: relative;
        & p, h3{
            margin: 0;
        }
        &:hover{
            & .checkbox__container{
                transform: translateX(-100%);
                & .checkbox__check{
                animation: rotate-check 200ms 120ms both;
                }
            }
            & .dish__textbox{
                & > .dish__description{
                width: calc(100% - $chk-wid*2);
                }
                & > .dish__price{
                transform: translateX(-100%);
                }
            }
        }
    }
    &__textbox{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0 1.5rem 1.5rem;
        width: 100%;
        height: 100%;
        & p, h3{
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - $chk-wid);
        transition: width 200ms 20ms;
        height: 100%;
    }
    &__price{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        font-weight: 600;
        height: 100%;
        transition: transform 200ms 30ms;
        width: 8rem;
    }
}

.checkbox{
    position: absolute;
    left: 33.3%;
    top: 33.3%;
    background-color: $color-white;
    width: calc($chk-wid*0.33);
    height: calc($chk-wid*0.33);
    border-radius: 50%;
    &__container{
        background-color: $color-tertiary;
        width: $chk-wid;
        height: 100%;
        position: absolute;
        right: -$chk-wid;
        transition: transform 300ms;
    }
    &__check{
        position: absolute;
        top: 33%;
        left: 25%;
        width: 50%;
        height: 30%;
        border-bottom: $color-tertiary solid .4rem;
        border-left:  $color-tertiary solid .4rem;;
        transform: rotate(-45deg);
    }
}

.submit-button{
    font-size: 2.2rem;
    justify-content: center;
}