// RESPONSIVE MIXINS

@mixin desktop {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

@mixin desktop-s {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet-s {
  @media screen and (min-width: 475px) {
    @content;
  }
}

@mixin mobile {
  @content;
}

@mixin mobile-s {
  @media screen and (max-width: 349px) {
    @content;
  }
}


// OTHER MIXINS

@mixin flexbox-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin margin-page($up: 2rem, $down: 0) {
  margin: $up 2rem $down;
}
