// COLORS
$color-primary: #ff6060;
$color-secondary: #f7f7f7;
$color-tertiary: #e3e3e3;
$color-white: white;
$color-black: black;

// LAYOUT
$mrgn-mbl: 2rem;
$mrgn-dsktp-s: 3rem;
$mrgn-dsktp: 5rem;
$mrgn-dsktp-l: 10rem;
$mrgn-pdng: 2.5rem;
$banner-hght: 11.1rem;

// CALC
$mrgn-card: calc(10%/3);