.favorite{
    display:flex;
    align-items:center;
    font-size: 2.5rem;
    @include tablet{
        font-size: 2rem;
    }
    @include desktop-hd{
        font-size: 2.5rem;
    }
    & label{
        position: relative;
    }
    &__painted{
        position:absolute;
        left: 0;
        background: $color-gradient-heart;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
    }
    & input:checked{
        & + label{
          & > .favorite__hollow{
            opacity: 0;
            transition: opacity 250ms 50ms;
          }
          & > .favorite__painted{
              opacity: 1;
              transition: opacity 300ms;
            }
        }
    }
    // CONTEXT
    &--card{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 31.5%;
        padding-right: 2rem;
    }
    &--menu-heading{
        @include tablet{
            position: relative;
            left: 2rem;
        }
    }
}