.spinner{
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    background-color: transparent;
    border: 6vw solid $color-primary-light;
    border-left: transparent solid 6vw;
    animation: spinner linear 1s infinite;
    filter: blur(2px);
    @include desktop-s{
        width: 90vh;
        height: 90vh;
        border: 6vh solid $color-primary-light;
        border-left: transparent solid 6vh;
    }
    &__container{
        z-index: 100;
        overflow: hidden;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: in-out 0s 2500ms both;
        &__legend{
            text-align: center;
            position: absolute;
            &--shrikhand{
                font-family: shrikhand, roboto, sans-serif;
                font-size: 11vw;
                @include desktop-s{
                    font-size: 11vh;
                }
            }
            &--roboto{
                font-family: roboto, sans-serif;
                font-size: 7vw;
                color: $color-tertiary-darker;
                @include desktop-s{
                    font-size: 7vh;
                }
            }
        }
    }
}