.main-btn{
    @include standard-box-shadow;
    @include standard-flexbox;
    position: relative;
    background: $color-gradient;
    color: $color-white;
    border-radius: 5rem;
    border-style: none;
    font-size: 1.6rem;
    white-space: nowrap;
    box-sizing: content-box;
    padding: 1.6rem 2.5rem;
    min-width: 20%;
    z-index: 1;
    @include mobile-s{
        font-size: 1.5rem;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-gradient-light;
        @include enhanced-box-shadow;
        color: $color-white;
        border-radius: 5rem;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-out;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
        }
    &:active{
        &::after{
            opacity: 1;
        }    
    }
    &__container{
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
    }
}