.card{
    overflow: hidden;
    border-radius: 2.5rem;
    @include standard-box-shadow;
    height: 22rem;
    margin-bottom: 2rem;
    position: relative;
    @include mobile-s{
        height: 20rem;
    }
    @include tablet{
        width: 47.5%;
        height: 22rem;
    }
    @include desktop-l{
        height: 25rem;
        width: 47%;
    }
    @include desktop-hd{
        width: 23%;
        height: 22rem;
        margin-bottom: 0;
    }
    &__image{
        overflow: hidden;
        position: relative;
        height: 70%;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__new{
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            position: absolute;
            z-index: 1;
            top: 1.5rem;
            right: 1.5rem;
            background: $color-tertiary_light;
            padding: 0 1rem;
            color: $color-tertiary-dark;
            font-weight: 600;
            border: solid .1rem $color-tertiary-lighter;
            border-radius: .3rem;
            height: 2.5rem;
        }
    }
    &__textbox{
        font-size: 1.4rem;
        height: 30%;
        background: $color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        @include mobile-s{
            font-size: 1.2rem;
        }
        & h2, p{
            margin: .4rem;
            @include tablet{
                font-size: 1.6rem;
            }
            @include mobile-s{
                margin: .4rem
            }
        }
    }
}