.cards-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include tablet{
        flex-flow: row wrap;
        
    }
}

.card{
    overflow: hidden;
    border-radius: 25px;
    @include standard-box-shadow;
    height: 300px;
    margin-bottom: 20px;
    @include tablet{
        width: 47.5%;
        margin-bottom: 4%;
    }
    &__image{
        overflow: hidden;
        position: relative;
        height: 70%;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__new{
            display: flex;
            align-items: center;
            position: absolute;
            z-index: 1;
            top: 20px;
            right: 20px;
            background: $color-tertiary;
            padding: 0 10px;
            color: darken($color-tertiary, 40%);
            font-weight: 600;
            border: solid 1px lighten($color-tertiary, 10%);
            height: 30px;
        }
    }
    &__textbox{
        height: 30%;
        background: $color-white;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        & p{
            margin: 0;
        }
    }
    &__heart{
        display:flex;
        align-items:center;
    }
}