footer{
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5% 3rem;
    background: darken($color: $color-tertiary, $amount: 60%);
    color: $color-tertiary;
    @include tablet{
        font-size: 30px;
        padding: 10px 5% 50px;
    }
    & h3{
        font-family: shrikhand;
        font-weight: 200;
        @include tablet{
            font-size: 5rem;
        margin: 2rem 0 3rem;
    }
        
    }
    & ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.6;
        @include tablet{
            flex-direction: row;
        }
    }
    & i{
        width: 3rem;
        @include tablet{
            width: 5rem;
        }
    }
}