header{
    background: $color-white;
    position: fixed;
    width: 100%;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include standard-box-shadow;
    z-index: 100;
}

.logo{
    height: 50%;
    margin: 2rem;
}

.arrow{
    position: absolute;
    font-size: 4rem;
    left: 5%;
    top: 1.5rem;
}