footer {
  @include flexbox-center;
  flex-direction: column;
  padding: 6.2rem 0;
  background-color: $color-black;
  color: $color-white;
  position: absolute;

  width: 100%;
  svg path {
    fill: white;
  }
  .logo {
    width: 12.2rem;
    height: 4rem;
  }
  p {
    margin-top: 3.4rem;
  }
}
