footer {
  @include flexbox-center;
  flex-direction: column;
  padding: 62px 0;
  background-color: $color-black;
  color: $color-white;
  height: 209px;
  @include desktop {
    padding-bottom: 20px;
  }

  width: 100%;
  svg path {
    fill: white;
  }
  .logo {
    width: 12.2rem;
    height: 4rem;
  }
  p {
    @include tablet {
      font-size: 0.7rem;
    }
    @include desktop-s {
      font-size: 1.2rem;
    }
  }
  @include desktop-xl {
    height: 300px;
  }
}
