header {
  display: flex;
  justify-content: space-between;
  .logo {
    @include mobile {
      
    }
  }
  nav {
    width: 30.9rem;
    align-self: center;
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }
  li {
    padding-left: 5rem;
  }
  a {
    font-size: 2.4rem;
    color: $color-primary;
  }
}
