header {
  @include flexbox-center(space-between);
  margin: 2rem 2rem 0;
  margin-bottom: 2rem;

  .nav-active {
    text-decoration: underline;
  }

  .logo {
    width: 14.5rem;
    height: 4.7rem;
  }
  nav {
    width: 14rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  a {
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-primary;
    @include mobile {
      text-transform: uppercase;
    }
    @include tablet {
      text-transform: uppercase;
    }
  }
}
