.presentation {
  display: flex;
  flex-direction: column;
  @include desktop-s {
    flex-direction: row;
    justify-content: space-between;
  }
  h1 {
    color: $color-primary;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.56rem;
  }
  h2 {
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
  }
  .host-rating-cont {
    @include flexbox-center(space-between);
    margin-bottom: 1.6rem;
    @include desktop-s {
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: space-around;
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
}
