.presentation {
  display: flex;
  flex-direction: column;
  h1 {
    color: $color-primary;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.56rem;
  }
  h2 {
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
  }
  .host-rating-cont {
    @include flexbox-center(space-between);
    margin-bottom: 1.6rem;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
}
